/* USEFUL STUFF */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: white;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

body {
    background-color: #1F2937;
}

/* ANIMATIONS */

@keyframes submit-in {
    0% {
        background-color: #1C64F2;
    }
    100% {
        background-color: #1A56DB;
    }
}
@keyframes submit-out {
    0% {
        background-color: #1A56DB;
    }
    100% {
        background-color: #1C64F2;
    }
}

/* HEADER */

#header-container {
    display: block;
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;

    background-color: #111827;
}
#inner-header{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
#header-left {
    margin-left: 1em;
    line-height: 50px;

    display: table;
    float: left;

}
#header-right {
    margin-right: 1em;
    line-height: 50px;

    display: table;
    float: right;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
}

#navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    list-style: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
}

#navbar a {
    color: white;
}

/* INFO POPUPS */

.popup-shadow {
    position: absolute;
    width: 100%;
    height: 94vh;
    background-color: rgba(0,0,0,.75);
    backdrop-filter: blur(2px);
    z-index: 4;
}

.info-popup {
    align-self: center;

    background: rgba(0,0,0,.90);
    border: solid;
    border-color: #1C64F2;
    border-radius: 5px;
    border-width: 3px;

    padding: 1em;

    position: absolute;
    height: 15rem;
    width: 30rem;
    z-index: 5;
}
#about-popup a {
    color: white;
    text-decoration: underline;
}
#stats-popup-x-button {
    float: right;
}
#about-popup-x-button {
    float: right;
}
#endgame-popup-x-button {
    float: right;
}

#endgame-play-again {
    background-color: #1C64F2;
    border: 0px;
    border-radius: 5px;
    width: 6em;
    animation: submit-out 0.1s forwards linear;

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1em;
}
#endgame-play-again:hover {
    animation: submit-in 0.1s forwards linear;
    cursor: pointer;
}

.list {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;

    list-style: circle inside;
}

/* MAIN SITE */

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 94vh;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player {
    width: auto;
    height: 25em;
    border-radius: 5px;
    margin: 2em;
}

#answers-container {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}

.runner-answer {
    background-color: #1C64F2;
    border: 0px;
    border-radius: 5px;
    width: 8em;
    animation: submit-out 0.1s forwards linear;

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2em;
}
.runner-answer:hover {
    animation: submit-in 0.1s forwards linear;
    cursor: pointer;
}